@import './style.css';

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.projetos__titulo {
    font-family: var(--font-primaria);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 5% 10% 2% 10%;
}

.projetos__lista {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5% 3%;

}

.projetos__lista__image {
    /* height: 110%; */
    width: 40%;
    margin: 2rem;
    border: 2px solid var(--cor-border-image);
    box-shadow: 10px 10px 15px var(--cor-shadow);

}

.projetos__lista__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.projetos__lista__titulo {
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
}

.projetos__lista__info {
    font-family: var(--font-secundaria);
    font-size: 20px;
    font-weight: 400;
}

.projetos__lista__links {
    display: flex;
    justify-content: space-evenly;
}

.projetos__lista__ancoras {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    width: 280px;
    background-color: var(--cor-botoes-background);
    text-align: center;
    color: var(--cor-font-botoes);
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;

    font-size: 18px;
    padding: 21.5px 0;
    font-weight: 600;
    font-family: var(--font-secundaria);

    transition: transform .2s;
}

.projetos__lista__ancoras:hover {
    background-color: var(--cor-hover-background);
    color: var(--cor-hover-font);
    border: 2px solid var(--cor-hover-border);
    transform: scale(1.1);
}

.projetos__lista__techs {
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .projetos__lista {
        flex-direction: column-reverse;
    }

    .projetos__lista__content {
        width: auto;
    }

    .projetos__lista__titulo {
        text-align: center;
    }

    .projetos__lista__info {
        text-align: center;
    }

    .projetos__lista__image {
        
        width: 50%;
    }
}

@media (max-width: 480px) {


    .projetos__lista__content {
        width: 75%;
    }

    .projetos__lista__links {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .projetos__lista__techs {
        flex-wrap: wrap;
    }
}