@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300..700&display=swap');
@import url('./style.css');

.descricao {
    font-size: 2em;
    margin: 1em;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

button {
    margin-top: 1em;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: 1px solid var(--title-color-input);
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover);
}

#dica {
    margin-top: 20px;
    font-weight: bold;
}